---
title: Information
layout: layouts/base.njk
permalink: "/pages/info/index.html"
---

<div class="container mx-auto px-4 py-16 prose prose-invert">
    <h1 style="text-align: center;">Information</h1>
    <p style="text-align: center;"><img decoding="async" class="aligncenter size-full wp-image-691" src="https://philmltu.se/wp-content/uploads/2012/09/clock-2.png" alt="" width="128" height="“128”" /></p>
    <p style="text-align: center;"><strong> VISIT US:</strong></p>
    <p style="text-align: center;">SUNDAYS</p>
    <p style="text-align: center;">19:00 B192 LTU</p>
    <p style="text-align: center;"><img decoding="async" class="aligncenter size-full wp-image-690" src="https://philmltu.se/wp-content/uploads/2012/09/concert-ticket.png" alt="" width="”128”" height="“128”" /></p>
    <p style="text-align: center;"><strong>Memberships:</strong></p>
    <p style="text-align: center;">One semester membership: 150kr (175kr non-TKL)</p>
    <p style="text-align: center;">Full-year membership: 250 kr (300kr non-TKL)</p>
    <p style="text-align: center;"><img decoding="async" class="aligncenter size-full wp-image-720" src="https://philmltu.se/wp-content/uploads/2012/09/info.png" alt="" width="7%" height="7%" /></p>
    <p style="text-align: center;"><strong>INFO:</strong><br />
    Only students at LTU are allowed to become PHILMs members, so remember to bring your student-ID if you want to sign up!</p>
    <p style="text-align: center;">No nuts are allowed  because of allergies</p>
</div>
