{% extends "layouts/base.njk" %}

{% block content %}
<article>
  <h1>{{ title }}</h1>
  <p><small>{{ page.date | friendlyDate }}</small></p>
  {% if image %}
    <img src="{{ image }}" alt="{{ title }}" class="poster">
  {% endif %}
  {{ content | safe }}
</article>
{% endblock %}
