<footer class="footer footer-center p-6 bg-base-200 text-base-content mt-16">
  <nav class="flex gap-4">
    <a class="link link-hover" href="{{ '/pages/about/' | url }}">About</a>
    <a class="link link-hover" href="{{ '/schedule/' | url }}">Schedule</a>
    <a class="link link-hover" href="/membership/">Get membership</a>
    <a class="link link-hover" href="/crew/">Join the crew</a>
    <a class="link link-hover" href="/book-us/">Book us</a>
    <a class="link link-hover" href="/who-we-are/">Who we are</a>
    <a class="link text-xs opacity-60 hover:opacity-100" href="{{ '/admin/' | url }}">Admin</a>
  </nav>
  <p class="text-sm opacity-70">© {{ "" | currentYear }} {{ site.name }}</p>
</footer>
