<header class="navbar bg-[#00102E] text-white border-b border-base-200 sticky top-0 z-50">
  <div class="container mx-auto px-4 flex items-center gap-10">
    <!-- Logo -->
    <a href="{{ '/' | url }}" class="flex-shrink-0 flex items-center">
      <img src="/uploads/philm-logo.png" alt="{{ site.name }}" class="h-28 w-auto" />
    </a>

    <!-- Navigation -->
    <ul class="menu menu-horizontal px-1 flex-1 items-center gap-8 text-lg">
      <li>
        <a href="/membership/" class="btn btn-primary">Get membership</a>
      </li>
      <li><a href="{{ '/' | url }}">Home</a></li>
      <li><a href="{{ '/pages/about/' | url }}">About</a></li>
      <li><a href="{{ '/schedule/' | url }}">Schedule</a></li>
      <li><a href="/crew/">Join the crew</a></li>
      <li><a href="/book-us/">Book us</a></li>
      <li><a href="/who-we-are/">Who we are</a></li>
    </ul>
  </div>
</header>
