<header class="navbar bg-base-100 border-b border-base-200">
  <div class="container mx-auto px-4">
    <div class="navbar-start">
      <a href="/" class="btn btn-ghost text-xl">{{ site.name }}</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/">Home</a></li>
        <li><a href="/pages/about/">About</a></li>
        <li><a href="/schedule/">Schedule</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      <a class="btn btn-primary" href="/join/">Join</a>
    </div>
  </div>
</header>
